
.main {
  min-height: 100vh;
}

.container{
  height: 55vh;
  width: 100%;
  background: url('https://blog.hubspot.com/hubfs/ecommerce-software.jpg') no-repeat center;
  background-size: cover;
}

.container>nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  height: 4rem;
  background-color: rgba(45, 44, 44, .9);
}

.container>nav>img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.container>nav>a {
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.3rem;
  border-radius: 12px;
  background-color: wheat;
  width: 12%;
  border: 2px solid white;
}

.container>nav>a:hover {
  background-color: rgb(241, 164, 21);
}

.caroussel {
  height: calc(100% - 4rem);
  width: 100%;
  background-color: rgba(45, 44, 44, .95);
  display: flex;
}

.caroussel>img {
  height: 100%;
  width: 40%;
}

.caroussel>section {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
}

.caroussel>section>p {
  font-size: 65px;
  font-weight: bolder;
  background: linear-gradient(to right, #2196f3, #26c6da, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.caroussel>section>button {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.7rem;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
  background: linear-gradient(to right, rgb(3, 142, 235), rgb(1, 123, 203), rgb(4, 4, 242));
  color: white;
  cursor: pointer;
}

.caroussel>section>button:hover {
  background: linear-gradient(to right,rgb(4, 4, 242), rgb(3, 142, 235), rgb(1, 123, 203));
}

.categories {
  display: flex;
  align-items: center;
  padding: 10px;
  height: 3rem;
}

.categories>span {
  font-weight: bold;
}

.categories>section {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: scroll;
}

.categories>section>button {
  flex: none;
  border: none;
  height: 1.8rem;
  min-width: 8rem;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 2rem;
  cursor: pointer;
  border: 1px solid blue;
}

.categories>section>button:hover {
  background-color: rgb(209, 207, 207);
}

.categories>section::-webkit-scrollbar {
  display: none;
}

.stores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

@media screen and (max-width:960px) {
  .container>nav>a {
    width: 20%;
  }
  .caroussel>img {
    width: 50%;
  }

  .caroussel>section {
    width: 50%;
  }

  .caroussel>section>p {
    font-size: 40px;
    font-weight: bold;
  }

  .caroussel>section>button {
    width: 55%;
  }
}

@media screen and (max-width:650px) {
  .container>nav {
    height: 3rem;
  }
  .container>nav>img {
    height: 2.5rem;
    width: 2.5rem;
  }
  .container>nav>a {
    width: 9rem;
    height: 2rem;
    font-size: 15px;
  }
  .caroussel {
    height: calc(100% - 3rem);
    display: flex;
    flex-direction: column-reverse;
  }

  .caroussel>img {
    margin-left: 37.5%;
    width: 25%;
    height: 45%;
    border-radius: 50%;
  }

  .caroussel>section {
    width: 100%;
    height: 45%;
    align-items: center;
    padding-left: 0;
  }

  .caroussel>section>p {
    font-size: 35px;
    font-weight: bold;
  }

  .caroussel>section>button {
    width: 40%;
    height: 1.8rem;
    font-size: 16px;
  }

  .categories>span {
    display: none;
  }

  .categories>section {
    padding-left: 0;
  }
}

@media screen and (max-width:550px) {
  .container>nav {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container>nav>a {
    width: 7rem;
    height: 1.8rem;
    font-size: 13px;
  }

  .caroussel>img {
    margin-left: 25%;
    width: 50%;
    height: 40%;
    border-radius: 50%;
  }

  .caroussel>section {
    width: 100%;
    height: 60%;
  }

  .caroussel>section>p {
    font-size: 22px;
  }

  .caroussel>section>button {
   border-radius: 6px;
    height: 1.5rem;
    font-size: 12px;
  }

}
