.itemCard {
    flex: none;
    height: 60vh;
    width: 300px;
    background-color: rgb(57, 56, 56);
    border-radius: 12px;
    overflow: hidden;
    margin: 0.5rem;
    color: rgb(174, 173, 173);
    position: relative;
}

.itemCard>img {
    width: 100%;
    height: 55%;
}

.itemCard>h4 {
    color: white;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.itemCard>p, .itemCard>h4 {
    padding: 10px;
    width: 100%;
    word-wrap: break-word;
}

.itemCard>p {
    margin: 0;
}

.itemCard>button {
    width: 60%;
    height: 2rem;
    border-radius: 9px;
    border: none;
    background-color: black;
    color: wheat;
    cursor: pointer;
    position: absolute;
    bottom: 5%;
    left: 20%;
}

.itemCard>button:hover {
    background-color: rgb(34, 33, 33);
    border: 2px solid black;
}

.itemCard>span {
    position: absolute;
    top: 56%;
    right: 2%;
    background: grey;
    border-radius: 5px;
    color: white
}