.store {
    width: 100%;
    min-height: 100vh;
    background-color: black;
}

.store>nav {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: wheat;
    border-bottom: 1px solid wheat;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(33, 32, 32);
}

.store>nav>img {
    height: 3rem;
    width: 3.2rem;
    border-radius: 50%;
}

.itemsList {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 3rem;
}